<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    {{!-- A fun, gender inclusive title #representation matters --}}
    <title>Burgers 4 boys, girls and gender non-binary</title>
</head>

{{!-- just a cheeky little footer --}}

<body>
    {{{ body }}}

    <footer class="burgerFooter">
        <div class="footer-copyright">
            <div class="container">
                <span class="grey-text text-lighten-4">"Its been a blast" Jimmy Neutron and not me doing this
                    assignment</span>
                <a class="grey-text text-lighten-4 right" href="https://github.com/brandpower">hmu</a>
            </div>
        </div>
    </footer>
</body>

</html>